@import 'tailwindcss';

@theme {
    --font-figtree: 'Figtree', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --color-dark-100: #1f1f36;
    --color-dark-200: #141627;
    --color-dark-300: #101828;
    --color-dark-400: #2e2c48;
    --color-gray-100: #7f7e83;
    --color-gray-200: #eaecf0;
    --color-gray-500: #667085;
    --color-gray-700: #344054;
    --color-primary-50: #e9f3fb;
    --color-primary-100: #256ff1;
    --color-primary-500: #175cd3;
    --color-light-100: #ecf2ef;
    --color-light-200: #f9fbfc;
    --color-light-300: #f2f4f7;
    --color-light-400: #ebeeed;
    --color-light-500: #e3f1ff;
    --color-success-50: #ecfdf3;
    --color-success-500: #12b76a;
    --color-success-700: #027a48;
    --color-pink-50: #f7edf6;
    --color-pink-500: #c11574;
    --color-navy-50: #f0f9ff;
    --color-navy-500: #026aa2;
    --color-red-500: #b93815;
    --color-red-50: #fff4ed;
    --color-red-100: #ff543d;

    --shadow-100: 0px 1px 3px 0px rgba(16, 24, 40, 0.1), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    --shadow-200: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 20px -2px rgba(16, 24, 40, 0.2);
    --shadow-300: 0px 2px 30px 0px rgba(0, 0, 0, 0.05);
    --shadow-400: 0px 2px 6px 0px rgba(13, 10, 44, 0.08);
    --shadow-500: 0px 12px 16px -4px rgba(16, 24, 40, 0.1);
    --radius-20: 20px;
}

@layer components {

    .stats-card {
        @apply p-6 flex flex-col gap-6 bg-white shadow-400 rounded-20 text-dark-100;

        .content {
            @apply flex flex-row md:flex-col-reverse xl:flex-row xl:items-center gap-3 justify-between;
        }
    }
    .link-logo {
        @apply flex items-center gap-1.5 py-6 border-b border-light-100;
        h1 {
            @apply text-base md:text-2xl font-bold text-dark-100;
        }
    }
    .nav-footer {
        @apply flex flex-col items-start gap-2.5 pb-8;
        img {
            @apply size-12 rounded-full aspect-square;
        }
        article {
            @apply flex flex-col gap-[2px] max-w-[90%];
            h2 {
                @apply text-sm md:text-base font-semibold text-dark-200 truncate;
            }
            p {
                @apply text-gray-100 text-xs md:text-sm font-normal truncate;
            }
        }
    }
    .mobile-sidebar {
        @apply lg:hidden flex flex-col gap-5;
        header {
            @apply flex justify-between items-center border-b border-light-100;
            h1 {
                @apply text-base md:text-2xl font-bold text-dark-100;
            }
            a {
                @apply flex items-center gap-1.5 py-10;
            }
        }
    }
  
   
    .header {
        @apply flex flex-col gap-5 md:flex-row justify-between w-full;
        article {
            @apply flex flex-col gap-3.5 w-full;
        }
    }
    .nav-items {
        @apply flex flex-col px-6 h-[100dvh] overflow-y-auto;
        .container {
            @apply flex flex-col justify-between h-full;
            nav {
                @apply flex flex-col gap-3.5 pt-9;
            }
        }
    }

    

  
    .dashboard {
        @apply flex flex-col gap-10 w-full  pb-20;

        .container {
            @apply flex flex-col gap-5 mt-2.5;
            h1 {
                @apply text-xl font-semibold text-dark-100;
            }
        }
    }
  
}

@layer utilities {
    .wrapper {
        @apply w-full max-w-7xl mx-auto px-4 lg:px-8;
    }
    .nav-item {
        @apply flex items-center text-xs md:text-lg font-normal cursor-pointer gap-2.5 py-[12px] px-3 rounded-lg text-dark-200 hover:bg-primary-100 hover:text-white;
    }
  
}

html,
body {
    font-family: 'Figtree', sans-serif;
    background-color: #f9fbfc;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 4px; /* Hacerla más delgada */
}

::-webkit-scrollbar-track {
    background: transparent; /* Fondo invisible */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); /* Color más tenue */
    border-radius: 10px; /* Bordes más redondeados */
}

::-webkit-scrollbar-button {
    display: none;
}

.p-datatable {
    border-radius: 12px;
    overflow: hidden;
}

.p-datatable.with-tabs {
    border-top-left-radius: 0px; /* Ajusta el radio según prefieras */
}

.p-datatable .p-datatable-thead tr th {
    background-color: #85c1e9 !important; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
}

.tab-border-bottom {
    position: relative;
}

.tab-border-bottom::after {
    content: '';
    position: absolute;
    width: 80%; /* Ajusta el ancho del borde */
    height: 3px; /* Grosor del borde */
    background-color: white; /* Color del borde */
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); /* Centrar el borde */
}
